site_name: Teracloud Streams Developer Tools
site_description: Documentation and resources for using the Teracloud Streams VS Code extension and Quick Start Edition container.
site_author: Teracloud ApS

site_url: https://teracloud-streams.github.io/

copyright: Copyright &copy; 2025, 2026 Teracloud ApS

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/teracloud-streams/teracloud-streams.github.io
    - icon: fontawesome/solid/link
      link: https://streams.teracloud.com
    - icon: fontawesome/solid/paper-plane
      link: mailto:info.streams@teracloud.com

extra_css:
  - stylesheets/extra.css

theme:
  name: material
  favicon: assets/favicon.png
  logo: assets/teracloud-streams-white.svg
  features:
    - content.code.copy
    - content.tabs.link
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
plugins:
  - search
  - meta
  - blog
  - minify:
      minify_html: true

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      options:
        custom_icons:
          - .icons
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/mkdocs.md
        - includes/abbreviations.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

nav:
  - Home: index.md
  - Getting Started:
      - gettingstarted/index.md
      - Stream application basics: gettingstarted/basics.md
      - Distributed applications: gettingstarted/distributed-apps.md
  - VS Code Extension:
      - vscode/index.md
      - Configuring the extension: vscode/configuring-paths.md
      - Developing applications:
        - Creating an application or project: vscode/spl-project-application.md
        - Language server features: vscode/spl-language-features.md
        - Building applications: vscode/building.md
        - Running standalone: vscode/running-standalone.md
        - Advanced topics:
          - Developing custom operators: vscode/advanced/custom-operators.md
      - Interacting with a runtime environment:
        - Connecting to a runtime environment: vscode/configuring-domain.md
        - Administering instances: vscode/administering-instances.md
        - Running distributed applications: vscode/running-distributed.md
      - Reference:
        - License ⮺: https://marketplace.visualstudio.com/items/teracloud-aps.teracloud-streams/license
        - Feedback ⮺: https://github.com/teracloud-streams/vscode-extension/issues
  - Blog:
      - blog/index.md

watch:
  - includes
  - .icons